<!--=====================================
Header Promotion
======================================-->

<div

class="ps-block--promotion-header bg--cover"
style="background: url({{path}}/img/products/general/top/header1.jpg);">

    <div class="container">
        <div class="ps-block__left">
            <h3>Sueña</h3>
            <figure>
                <p>Te lo hacemos realidad</p>
                <h4>Tenemos todo para ti</h4>
            </figure>
        </div>
        <div class="ps-block__center">
            <p>Conoce más<span>Promociones</span></p>
        </div><a class="ps-btn ps-btn--sm" routerLink="">Ver más</a>
    </div>
</div>

<!--=====================================
Preload
======================================-->
