

.header__top{
  background: #131921;

  color: rgb(151, 151, 151);
}


.header__content{
  background: #232F3E;
  /*color: rgb(207, 207, 207);*/
  color: rgb(198, 198, 198);
}

.nt{
  color:rgb(151, 151, 151) ;
}


button{
  background: #232F3E;
}


.cate{
text-transform: capitalize;
}

.btn{

  font-size: 18px;

}

.btns{
  background: none;
  border: none;
}

.con{

  max-height: 400px;
  overflow-y: auto;
}

.lg{
  margin-top: -15px;
}
