 <!--=====================================
Home Promotions
======================================-->

<div

class="ps-promotions">

    <div class="container">

        <div class="row">


            	<a class="ps-collection" routerLink="products/11">
            		<img src="{{path}}/img/products/general/promos/1234.jpg" alt="">
              </a> <a class="ps-collection" routerLink="products/5">
                <img src="{{path}}/img/products/general/promos/345.jpg" alt="">
            	</a>



        </div>

    </div>

</div><!-- End Home Promotions-->

<!--=====================================
Preload
======================================-->
