 <!--=====================================
Home Promotions
======================================-->

<div

class="ps-promotions">

    <div class="container">

        <div class="row">

            <div class="cont ">
            	<a class="ps-collection" routerLink="product/1">
            		<img src="{{path}}/img/products/general/promos/default-banner-2.jpg" alt="">
              </a>
              <a class="ps-collection" routerLink="product/1">
                <img src="{{path}}/img/products/general/promos/default-banner-3.jpg" alt="">
            	</a>
            </div>


        </div>

    </div>

</div><!-- End Home Promotions-->

<!--=====================================
Preload
======================================-->
