<div class="container">
<h3>Historial De Compras</h3>
<div class="contenedor">

 
  <div *ngFor="let orden of ordenes" class="card border-success mb-3" style="max-width: 18rem;" >
    <div class="card-header bg-transparent border-success"><h5 class="card-title">Pedido # {{orden.id}}</h5></div>
    <div class="card-body text-success">
     
      <p class="card-text">Tu orden se creo por un valor de: ${{orden.total_price|number}}.</p>
      <p class="card-text">En la fecha: {{orden.created}}.</p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <a type="button" routerLink="/order/{{orden.id}}" class="btn btn-success" style="color:white">Detalles</a>
    </div>
  </div>
  

</div>


</div>
