<!--=====================================
	Header Mobile
	======================================-->

    <header class="header header--mobile" data-sticky="true">

        <div class="header__top">

            <div class="header__left">

                <ul class="d-flex justify-content-center">
					<li><a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>

				</ul>
            </div>

         <!--   <div class="header__right">

                <ul class="navigation__extra">

                  <li><a href="#">Sell on MarketPlace</a></li>
                    <li><a href="#">Store List</a></li>
                    <li><i class="icon-telephone"></i> Contactanos:<strong>  (+57) 314 358 06 19</strong></li>

              <li>

                        <div class="ps-dropdown language"><a href="#"><img src="{{path}}img/template/en.png" alt="">English</a>

                            <ul class="ps-dropdown-menu">

                                <li><a href="#"><img src="{{path}}img/template/es.png" alt=""> Español</a></li>

                            </ul>

                        </div>

                    </li>

                </ul>

            </div> -->

        </div>

        <div class="navigation--mobile">

            <div class="navigation__left">

        	  	<!--=====================================
				Menu Mobile
				======================================-->

                <div class="menu--product-categories">

                    <div class="ps-shop__filter-mb mt-4" id="filter-sidebar">
                    	<i class="icon-menu "></i>
                    </div>

	            	<div class="ps-filter--sidebar">

					    <div class="ps-filter__header">
					        <h3>Categorias</h3><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
					    </div>

					    <div class="ps-filter__content">

					        <aside class="widget widget_shop">

					            <ul class="ps-list--categories">

					                <li
									*ngFor="let category of categories; let lastIndex = last"
					                class="current-menu-item menu-item-has-children">

					                	<a routerLink="products/{{category.id_categoria}}"><strong class="categ">{{category.nombre_categoria}}</strong></a>





					                </li>

					            </ul>

					        </aside>

					    </div>

					</div>

                </div><!-- End menu-->

            	<a class="ps-logo pl-3 pl-sm-5" href="index.html">
            		<img src="{{path}}img/template/inver_ligth.png" class="pt-3" alt="">
            	</a>

            </div>

            <div class="navigation__right">

                <div class="header__actions">

                	<!--=====================================
					Cart
					======================================-->

                    <div class="ps-cart--mini">

                    	<a class="header__extra" href="#">
                    		<i class="icon-bag2"></i><span><i>{{cart.length}}</i></span>
                    	</a>

                        <div class="ps-cart__content con">
                          <div class="ps-cart__items " *ngFor="let item of cart, let i=index" >

                            <div class="ps-product--cart-mobile"  >

                                <div class="ps-product__thumbnail">
                                  <a routerLink="product/{{item.id}}">
                                    <img src="{{path}}/img/products/product/{{item.id}}.jpg" alt="">
                                  </a>
                                </div>

                                <div class="ps-product__content">
                                  <a class="ps-product__remove" (click)="elimaritem(i)">
                                    <i class="icon-cross"></i>
                                  </a>
                                  <a routerLink="product/{{item.id}}">{{item.name}}</a>
                                    <p><strong>Cantidad:</strong> {{item.qty}}</p>
                                    <small> $ {{(item.qty * item.price) | number }} Cop</small>
                                </div>

                            </div>



                        </div>

                        <div class="ps-cart__footer">
                          <figure>
                            <a class="ps-btn" routerLink="/viewcart">View Cart</a>
                            <a class="ps-btn" routerLink="/checkout">Checkout</a>
                          </figure>

                      </div>

                        </div>

                    </div>

                    <!--=====================================
					Login and Register
					======================================-->

                    <div class="ps-block--user-header">

                        <div class="ps-block__left">
                        <a routerLink="/login">	<i class="icon-user"></i></a>
                        </div>
                        <div class="ps-block__right">
                          <a routerLink="/login" >MI cuenta</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--=====================================
		Search
		======================================-->

        <div class="ps-search--mobile">

            <form  [formGroup]="fomrmularioconsulta" class="ps-form--search-mobile" (ngSubmit)="recibirconsulta()" >
                <div class="form-group--nest">
                    <input class="form-control" type="text" formControlName="q" placeholder="Cual es tu sueño...">
                    <button type="submit"><i class="icon-magnifier"></i></button>
                </div>
            </form>

        </div>

    </header> <!-- End Header Mobile -->
