
.header__top{
  background: #131921;

  color: rgb(151, 151, 151);
}


.navigation--mobile, .ps-search--mobile{
  background: #232F3E;
  /*color: rgb(207, 207, 207);*/
  color: rgb(198, 198, 198);
}
.lg{
  margin-top: -13%;

}

.categ{
text-transform: capitalize;
}

.con{

  max-height: 400px;
  overflow-y: auto;
}



