.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.ago{
 
  object-fit: contain;
    
}

.card{
  padding: 20px;
}

.sinpro{
  text-align: center;
  margin:25px auto;
}


.card-title{
  text-transform: uppercase;
}