
<div class="container">

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Misión</h5>
    </div>
    <div class="card-body">

      <p class="card-text">Nuestra razón de ser es suplir los sueños de los colaboradores de las organizaciones, por medio de una plataforma digital que brinda soluciones para el hogar y lograr experiencias memorables con sus seres queridos, en donde el precio justo y las facilidades de pago, hacen posible lo deseado. Para las empresas públicas y privadas somos aliados para suplir sus necesidades esenciales de mobiliario de oficinas, dotaciones, papelería, desarrollo tecnológico y movilidad. Todo a un click de distancia.</p>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Visión</h5>
    </div>
    <div class="card-body">

      <p class="card-text">En el 2026 seremos la plataforma de e-commerce que será el principal aliado de empresas públicas y privadas para proveer sus necesidades esenciales; además de ser un gestor de sueños que hace posible en torno a soluciones del hogar, experiencias y movilidad para sus empleados.</p>

    </div>
  </div>

</div>
