

  <div class="spinner-border text-success" role="status" *ngIf="!cargue">
    <span class="visually-hidden"></span>
  </div>


<div class="container" *ngIf="cargue">

<div class="card mb-3" style="max-width: 540px;" *ngFor="let producto of productos">
  <div class="row g-0">
    <div class="col-md-4">
     <a routerLink="/product/{{producto.id}}"> <img src="{{path}}/img/products/product/{{producto.id}}.jpg" class="img-fluid rounded-start ago" alt="{{producto.name}}"> </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{producto.name}}</h5>
        <p class="card-text" *ngIf="(producto.id_opc_subcate != 154) && (producto.id_categoriaproducts != 7)"  >Precio:<br>$ {{producto.price|number}} Cop</p>
        <p class="card-text" *ngIf="(producto.id_opc_subcate == 154) || (producto.id_categoriaproducts == 7)"  >Producto disponible por cotización</p>
        <p class="card-text" *ngIf="producto.descuento > 0">Descuento:<br>- {{producto.descuento}} %</p>
        <button type="button" *ngIf="(producto.id_opc_subcate != 154) && (producto.id_categoriaproducts != 7)" (click)="addcart(producto.id,producto.name,producto.price,producto.descuento,producto.ropa_tipo)"class="btn btn-primary">Add Cart</button>
        <a *ngIf="(producto.id_opc_subcate == 154) || (producto.id_categoriaproducts == 7)" class="btn btn-success" href="mailto:direccionoperativa@invercomes.com.co?subject=cotizacion%20producto%20{{producto.name}}&message={{producto.name}}">Cotizar</a>
      </div>
    </div>
  </div>
</div>

</div>



