
.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

.ago{

  object-fit: contain;

}

.card{
  padding: 10px;
}

.card-title{
  text-transform: uppercase;
}

input{
  width: 90%;
  max-width: 500px;
  margin: 20px auto;

}


