<div class="container">
  <h2>Formulario de registro</h2>
<form [formGroup]="fomrularioderegistro" (ngSubmit)="register()">

  <div class="form-group"> <!-- tipo identificacion-->
    <label for="state_id" class="control-label">Tipo Identificacion</label>
    <select class="form-control" id="state_aid" formControlName="tipoiden">
        <option value="1">Nit</option>
        <option value="2">CC</option>
    </select>
</div>

<div class="form-group"> <!-- identificacion -->
  <label for="full_name_id" class="control-label">Numero de identificacion</label>
  <input type="number" class="form-control" formControlName="identificacion" id="full_name_id" name="full_name" placeholder="1235">
</div>

  <div class="form-group"> <!-- Full Name -->
    <label for="full_name_id" class="control-label">Nombre o Razon social</label>
    <input type="text" class="form-control" id="faull_name_id" formControlName="nombre" name="full_name" placeholder="Pepito Perez">
</div>

<div class="form-group"> <!-- Street 1 -->
    <label for="street1_id" class="control-label">Direccion de envio</label>
    <input type="text" class="form-control" id="sstreet1_id" name="street1" formControlName="direccion" placeholder="Calle, Carrera, Barrio, Manzana">
</div>

<div class="form-group"> <!-- citys-->
  <label for="state_id" class="control-label">Ciudad</label>
  <select class="form-control" formControlName="ciudad" id="state_id" >
      <option *ngFor="let city of citys" value="{{city.departamento}}-{{city.municipio}}">{{city.municipio}}-{{city.departamento}}</option>

  </select>
</div>


<div class="form-group"> <!-- telefono -->
  <label for="full_name_id" class="control-label">Celular</label>
  <input type="number" class="form-control" id="full_nsame_id" formControlName="celular" name="full_name" placeholder="302841****">
</div>


<div class="form-group"> <!-- Zip Code-->
    <label for="zip_id" class="control-label">Codigo postal</label>
    <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####" formControlName="postal">
</div>

<div class="form-group"> <!-- Email-->
  <label for="full_name_id" class="control-label">Email</label>
  <input type="text" class="form-control" id="full_name_ids" name="full_name" placeholder="pepito@correo.com" formControlName="email">
</div>

<div class="form-group"> <!-- Pass -->
  <label for="street1_id" class="control-label">Password</label>
  <input type="password" class="form-control" id="street1_id" name="street1" placeholder="Password" formControlName="pass">
</div>
<div class="alert alert-danger" role="alert" *ngIf="validacion==true">
  Ingresa todos los campos solicitados
</div>
<div class=" btnc form-group"> <!-- Submit Button -->
  <input type="checkbox" class="form-check-input" id="check" >
  <label class="form-check-label" for="check" style="margin-left: 10px; "> Aceptó consentimiento y politicas en ley de protección de datos personales.</label>
    <button type="submit" class="btn btn-success">Registrar</button>


</div>
<button routerLink="/login" type="button" class="btn btn-warning">Cancelar</button>


</form>
</div>
