 <!--=====================================
Top Categoríes
======================================-->  

<div 

class="ps-top-categories">

    <div class="container">

        <h3>Categorias del mes</h3>

        <div class="row cont">

            <div 
			*ngFor="let category of categories"
            class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                <div class="ps-block--category">
                	<a class="ps-block__overlay" routerLink="products/{{category.id_categoria}}"></a>
                	<img src="{{path}}/img/categories/{{category.nombre_categoria}}.jpg" alt="">
                    <p>{{category.nombre_categoria}}</p>
                </div>
            </div>    

        </div>
    </div>

</div><!-- End Top Categories -->

<!--=====================================
Preload
======================================-->
