table{
  width: 80%;
  margin: 25px auto;
  border: 1px solid #ccc;

}

h2{
  margin: 25px auto;
  text-align: center;
}

.contimgban{
  width: 80%;
  padding: 3px;
  margin: auto;
  background: linear-gradient(to right, #FFE80A,  #3D6D53 );
  background-size: 600% 400%;
  border-radius: 7px;

  animation: bgmovil 5s ease infinite;

  }

  .ggpoints{
    width: 50px;
  }
  @keyframes bgmovil{
    0% {background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50% ;}
    }


  .imgban{
    border-radius: 7px;
  width: 100%;
  }


.contenbtn{
  width: 80%;
  margin: 20px auto;
display: flex;
justify-content: space-between;

padding: 10px;
border-radius: 10px;
}

.btn{
font-size: 14px;
font-weight: bold;
}
form{
  width: 80%;

  border: 1px solid #ccc;
  padding: 20px;
  margin:10px auto;
}

.inputs{
  margin: auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  margin:10px auto;
}


.icon{
  height: 50px;
}

.metodospago{
  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #ccc;
  padding: 20px;
}


.points{
  margin: 25px auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 20px;

}


.form-check{
  padding: 5px;
  margin: 10px auto;
}

.conttable{
overflow-x: scroll;
width: 100%;

}


