<!--=====================================
Home Banner
======================================-->

        <div class="slider-frame">
          <ul>
            <li><img src="{{path}}/img/products/tecnologia/horizontal/h-slider-1.jpg" alt=""></li>
            <li><img src="{{path}}/img/products/tecnologia/horizontal/h-slider-2.jpg" alt=""></li>
            <li><img src="{{path}}/img/products/tecnologia/horizontal/h-slider-3.jpg" alt=""></li>
            <li><img src="{{path}}/img/products/tecnologia/horizontal/h-slider-4.jpg" alt=""></li>
        </ul>
      
            <div class="ps-banner__content">
                <h4>Hacemos tus sueños realidad</h4>
                <h3>Grandes descuentos </h3>
                <h3> En tecnología y Hogar <br/>
                	<p>Desde <strong> 10%</strong></p>
                </h3>
                <a class="ps-btn" routerLink="product/1"> Ver mas </a>
            </div>
          </div>

  <!-- End Home Banner-->

<!--=====================================
Preload
======================================-->

