

.container{
  margin: 50px auto;

  justify-content: center;
}

p{
  color: white;
}

.contenbtn{
  display: flex;
  justify-content: center;
  margin: 25px auto;

}

.btn{
  font-size: 14px;
}

.pse:hover{
  transition: all 0.5s;
transform: scale(1.3);
cursor: pointer;
}


.ses{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}