<div class="container">
  <div class="for" *ngFor="let orden of order">
    <div class="card mb-3" style="max-width: 600px; margin: auto">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ path }}/img/payment-method/1.png"
            class="img-fluid rounded-start"
            alt="..."
            *ngIf="orden.metodo_pago == '1'"
          />
          <img
            src="{{ path }}/img/payment-method/2.png"
            class="img-fluid rounded-start"
            alt="..."
            *ngIf="orden.metodo_pago == '2'"
          />
          <img
            src="{{ path }}/img/payment-method/3.png"
            class="img-fluid rounded-start"
            alt="..."
            *ngIf="orden.metodo_pago == '3'"
          />
          <img
            src="{{ path }}/img/payment-method/4.png"
            class="img-fluid rounded-start"
            alt="..."
            *ngIf="orden.metodo_pago == '4'"
          />
        </div>
        <div class="col-md-8">
          <div
            class="card text-white bg-primary mb-3"
            style="width: 100%; height: 100%"
          >
            <div class="card-header" *ngIf="orden.metodo_pago != '4'">
              Tu numero de orden es: #{{ orden.id }}
            </div>
            <div class="card-header" *ngIf="orden.metodo_pago == '4'">
              Tu numero de orden es: #{{ orden.id }}<br />El valor a pagar es:
              ${{ orden.total_price - orden.puntos | number }} Cop
            </div>
            <div class="card-body">
              <h5 class="card-title">Estas mas cerca de tus sueños</h5>
              <p class="card-text" *ngIf="orden.metodo_pago == '1'">
                Acercate a tu punto Gana-Gana mas cercano y entregale al asesor
                tu numero de orden junto al valor a cancelar $
                {{ orden.total_price - orden.puntos | number }} Cop. y espera tu
                pedido que se encuentra en camino
              </p>
              <p class="card-text" *ngIf="orden.metodo_pago == '2'">
                Tu orden se ha creado y esta en proceso por un valor de $
                {{ orden.total_price - orden.puntos | number }} Cop. <br />
                Pronto un asesor de Su Solucion te contactara para ultimar
                detalles .
              </p>
              <p class="card-text" *ngIf="orden.metodo_pago == '3'">
                Tu orden se ha creado y esta en proceso por un valor de $
                {{ orden.total_price - orden.puntos | number }} Cop. <br />
                Pronto un asesor de el Fondo de empleados te contactara para
                ultimar detalles.
              </p>
              <p class="card-text" *ngIf="orden.metodo_pago == '4'">
                Ten a la mano los anteriores datos para realizar tu pago, una
                vez terminado el proceso te redireccionaremos a la pagina
                inicial.<br />
                A tu correo llegarta toda la informacion correspondiente a la
                orden de compra.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contenbtn">
    <button type="button" routerLink="/" class="btn btn-success">Inicio</button>
  </div>
</div>
